[Desktop Entry]
Type=Application
Name=oamlStudio
GenericName=oamlStudio
Comment=oamlStudio
Exec=AppRun %F
Icon=oamlStudio
Categories=Audio;AudioVideo;